
html{
    background-color: rgb(40, 40, 40);
}

body{
    background-color: rgb(40, 40, 40);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: rgb(54, 54, 54);
    color: rgb(234, 234, 234);
    font-size: 300px;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
   
}

#colon{
    background-color: rgb(40, 40, 40);
}

button {
    background-color: #007bff; /* Blue color for the button */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Add some padding */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Add some border radius */
    cursor: pointer; /* Change cursor to pointer on hover */
}